body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* non react */
  background-image: radial-gradient(
    circle 879px at 10.4% 22.3%,
    rgba(255, 235, 238, 1) 0%,
    rgba(186, 190, 245, 1) 93.6%
  );
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  flex-direction: column;
  font-family: sans-serif;
}

h1 {
  margin-top: -40px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

svg {
  border: 2px solid black;
  box-shadow: 4px 4px 6px rgba(0, 0, 0, 0.4);
  background-color: #fff;
}

rect {
  fill: purple;
}

rect:hover {
  fill: white;
}
