/* import this to the codepen .css file */
body {
  background-color: #007bff;
}

.wrapper {
  height: 100vh;
}

.box {
  background-color: white;
  position: relative;
}

.fa-quote-left {
  position: absolute;
  opacity: 0.2;
  top: 10px;
  left: 10px;
}
